<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<h4 th:text="${date}">Date</h4>
<nav th:replace="fragments :: navigation"></nav>

<h1>Sign up with New Username!</h1>
<form method="post">
    <div class="form-group">
        <h3><div>Let's create an Original Name!</div></h3>
        <input type="text" name="userName" />
        <h3><div>We are going to need a password too...</div></h3>
        <input type="password" name="password" />
        Let's just verify that to make sure it's the password you want.
        <input type="password" name="passwordVerify" />
        <h3><div>We will also need to have an email to make sure it's you.</div></h3>
        <input type="email" name="email" />
    </div>
    <div>
        <p>Submit User Information</p>
        <input type="submit" value="Do it" />
    </div>
</form>

</body>
</html>