<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<h4 th:text="${date}">Date</h4>
<nav th:replace="fragments :: navigation"></nav>


<h1>Log In and Get Organized!</h1>
<form method="post">
    <div class="form-group">
        <h3><div>What is your User name?</div></h3>
        <input type="text" name="userName"/>
        <h3><div>Please enter your password</div></h3>
        <input type="password" name="password" />
    </div>
    <div>
        <h2>Get started!</h2>
        <input type="submit" value="DO IT!" />
    </div>
</form>

</body>
</html>