<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>


<nav th:replace="fragments :: navigation"></nav>
<form>
<h1>Check Out What's Going On Today!</h1>

    <p th:unless="${tasks} and ${tasks.size()}">No Tasks Yet</p>
    <ul>
        <li th:each="task:${tasks}">
            <td th:text="${task.task}"></td>
            <td th:text="${task.importance}"></td>
        </li>
    </ul>

</form>
</body>
</html>