<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<p>
<a href="/home">Homescreen</a>
</p>
<p>
    <a href="/home/add">Add New Tasks</a>
</p>

<form method="post">

    <tr th:each="task:${tasks}" class="checkbox">
        <input type="checkbox" name="taskIds" th:value="${task.id}" th:id="${task.id}"/>
        <label th:for="${task.taskName}" th:text="${task.taskName}"></label>
        <br />
    </tr>

    <input type="submit" value="Remove Tasks" />
</form>
</body>
</html>