<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<a href="/home">Homescreen</a>
<p>
    <a href="/home/add">Add New Tasks</a>
</p>
<form method="post">
    <h1>Check Out Your Schedule!</h1>
    <h1> Let's check some stuff off the list! </h1>
    <p th:unless="${tasks} and ${tasks.size()}">No Tasks Yet</p>

<!--TODO Make this page display all present tasks with checkboxes for removing them.-->
    <div th:each="task : ${tasks}" class="checkbox">
        <input type="checkbox" name="taskName" th:value="${task.taskName}"/>
        <label th:for="${task.name}" th:text="${task.name}"></label>
        <br />
    </div>

    <input type="submit" value="Finished These" />

    <!--
        this was used as a placeholder that just displayed the tasks w/o the ability to remove them.
        <ul>
        <li th:each="task:${tasks}">
            <td th:text="${task.task}"></td> -&#45;&#45;&#45;&#45;&#45;&#45;
            <td th:text="${task.importance}"></td>
        </li>
    </ul>-->
</form>
</body>
</html>