<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<p>
<a href="/home">Homescreen</a>
</p>
<p>
    <a href="/home/add">Add New Tasks</a>
</p>



<form method="POST">
    <h1>Check Out What's Going On Today!</h1>

    <p th:unless="${tasks} and ${tasks.size()}">No Tasks Yet</p>
    <ul>
        <tr th:each="task:${tasks}">
            <td th:text="${task.taskName}"></td> -------
            <td th:text="${task.importance}"></td>
            <br>
        </tr>
    </ul>

</form>
</body>
</html>